<div class="banner technology">
  <div class="greyimage">
    <%= content_tag(:h1, title) %>
    <h3>Every once in a while, a new technology, an old problem, and a big idea turn into an innovation.</h3>
    <div class="wrapper">
      <%= link_to 'Write a blog', 'new' %>
    </div>
  </div>
</div>